{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-5 ">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 shadow-sm p-3 mb-5 bg-body rounded border border-1">
            <form action="" method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <div class="d-flex justify-content-between">
                    <button class="btn signin-button text-white" type="submit">Sign in</button>
                    <a href="/accounts/login">
                        <div class="btn signin-button text-white">Log in</div>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}